{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{{ title }}</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Salvar Conta</button>
                <a href="{% url 'financeiro:listar_contas_pagar' %}" class="btn btn-outline-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
